@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/chat2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  
}

::-webkit-scrollbar-track{
  cursor: pointer;
  width:10px;
}
::-webkit-scrollbar-thumb{
  background-color: #121212;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #d81212;
}